header.style1 {
    text-align: center;
    margin-top: 30px;
    border-bottom: 1px solid #e5e5e5;
}
.header-left {
    text-align: center;
    margin-top: 30px;
}
.header-left a.btn-elm {
    padding: 10px 20px;
    background-color: #2644a6;
    color: #fff;
}

.header {
    text-align: center;
    padding: 0 200px;
}

.header h1 {
    font-size: 50px;
}

.wrap-content table, tr , td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

.wrap-content td {
    height: 70px;
}

.content {
    margin-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #e5e5e5;
}

.wrap-content table {
    width: 100%;
    text-align: center;
}

.wrap-content ul li {
    display: inline-block;
    list-style: none;
}

.wrap-content ul li a {
    padding: 10px 15px;
    list-style: none;
}

.wrap-content ul li a.show {
    background-color: #3f007f;
    color: #fff;
}

.wrap-content ul li a.edit {
    background-color: #ffcc00;
}

.wrap-content ul li a.delete {
    background-color: #bf0000;
    color: #fff;
}

footer.style1 {
    margin-top: 50px;
}

footer.style1 .widget-left {
    float: left;
}

footer.style1 .widget-right {
    float: right;
}

footer.style1 .widget-right a {
    padding: 10px 30px;
    background-color: aqua;
    color: #fff;
    text-decoration: none;
}
